<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eshara2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3232A0081F2EA0B700EA1FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3232A01F1F2EA0B800EA1FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3232A02A1F2EA0B800EA1FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
